@use "../abstracts/variables" as *;

.price-box {
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  margin: -166px 1.5rem;
  padding: 2.125rem 1.5rem 2rem;
  box-shadow: 0px 20px 30px -5px rgba(#7f89b9, 0.1521);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $color-text-shady;

  &__views {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
  }

  &__btn {
    background-color: $color-dark-blue;
    border: none;
    border-radius: 20px;
    padding: 0.75rem 2.875rem;
    font-size: 0.75rem;
    font-weight: 800;
    color: #becdff;
    cursor: pointer;
    margin-top: 2rem;
  }

  &__list {
    font-size: 0.75rem;
    list-style-image: url("../../images/icon-check.svg");
    padding: 0;
    margin: 1.5rem 0 0;

    li {
      margin-bottom: 0.625rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__price {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    margin: 1.5rem 2.125rem;

    span {
      color: $color-dark-blue;
      font-weight: 800;
      font-size: 2rem;
      margin-right: 0.625rem;
    }
  }

  &__billing {
    font-size: 0.75rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & > span {
      position: relative;

      & > .discount {
        position: absolute;
        font-weight: 800;
        font-size: 0.625rem;
        color: #ff8d68;
        background-color: #feede8;
        border-radius: 9.5px;
        padding: 0.125rem 0.5rem;
      }
    }
  }
}
