@use "../abstracts/mixins" as *;

.range-input {
  width: 100%;

  &__element {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background-color: #ecf0fb;
    border-radius: 5px;
    outline: 0;
    border: none;
    background-image: linear-gradient(#a4f3eb, #a4f3eb);
    background-size: 50% 100%;
    background-repeat: no-repeat;

    &::-webkit-slider-thumb {
      @include range-thumb;
    }

    &::-moz-range-thumb {
      @include range-thumb;
    }
  }
}
